<div class='contents clearfix body-page'>

  <h1><img src="/plugins/discourse-directoryopus/images/opus_logo.png"> {{i18n "directoryopus.linkopus_heading"}}</h1>
	
	
  {{#if model}}
  	<p>I have a model</p>
  {{else}}	
  	<p>I do NOT have a model</p>
  {{/if}}
  
  <p>{{model}}</p>
</div>
