<div class="contents clearfix body-page directoryopus-link-body">
	<h1 class="directoryopus-link-heading"><img class="directoryopus-logo" src="/plugins/discourse-directoryopus/images/opus_logo.png" alt=""> {{i18n "directoryopus.linkopus_heading"}}</h1>
	
	<p>Moo</p>
</div>
