{{#if this.siteSettings.directoryopus_enabled}}
	{{#if this.siteSettings.directoryopus_composer_help_title}}
		{{#if this.siteSettings.directoryopus_composer_help_url}}
			<div class="directoryopus-composer-help">
				<a href="{{this.siteSettings.directoryopus_composer_help_url}}">{{d-icon 'info-circle'}} {{this.siteSettings.directoryopus_composer_help_title}}</a>
			</div>
		{{/if}}
	{{/if}}
{{/if}}
