{{#if siteSettings.directoryopus_enabled}}
	{{#if siteSettings.directoryopus_composer_help_title}}
		{{#if siteSettings.directoryopus_composer_help_url}}
			<div class="directoryopus-composer-help">
				<a href="{{siteSettings.directoryopus_composer_help_url}}">{{fa-icon 'info-circle'}} {{siteSettings.directoryopus_composer_help_title}}</a>
			</div>
		{{/if}}
	{{/if}}
{{/if}}
