{{#if this.siteSettings.directoryopus_enabled}}
	{{#if this.opusLinkAnything}}
		<div class="directoryopus-link-status">
			{{#if this.opusLinkClass}}
				<div class="{{this.opusLinkClass}}">{{d-icon this.opusLinkIcon}} {{this.opusLinkText}}</div>
			{{/if}}
			{{#if this.opusCanLinkUser}}
				<div class="opus-nav-pills">{{#link-to route='linkopus'}}<img class="link-opus-button-icon" src="/plugins/discourse-directoryopus/images/opus_icon.png">{{i18n 'directoryopus.linkopus_title'}}{{/link-to}}</div>
			{{/if}}
		</div>
	{{/if}}
{{/if}}
