{{#if siteSettings.directoryopus_enabled}}
	{{#if opusLinkAnything}}
		<div class="directoryopus-link-status">
			{{#if opusLinkClass}}
				<div class="{{opusLinkClass}}">{{d-icon opusLinkIcon}} {{opusLinkText}}</div>
			{{/if}}
			{{#if opusCanLinkUser}}
				<div class="opus-nav-pills">{{#link-to route='linkopus'}}<img class="link-opus-button-icon" src="/plugins/discourse-directoryopus/images/opus_icon.png">{{i18n 'directoryopus.linkopus_title'}}{{/link-to}}</div>
			{{/if}}
		</div>
	{{/if}}
{{/if}}
