.directoryopus-link-status {
  outline: 2px solid #060;
  background-color: rgba(220, 140, 140, 0.6);
  margin: 0;
  padding: 0 0.2em;
  color: #000;
  font-weight: bold;
  font-size:  0.9em;
}

.directoryopus-link-heading .directoryopus-logo {
    width: 2.25em;
    height: 2.25em;
    vertical-align: -0.65em;
}
