{{#if this.siteSettings.directoryopus_enabled}}
	{{#if this.opusLinkAnything}}
		<div class="directoryopus-link-status">
			{{#if this.opusLinkClass}}
				<span class="{{this.opusLinkClass}}">{{d-icon this.opusLinkIcon}} {{this.opusLinkText}}</span>
			{{/if}}
		</div>
	{{/if}}
{{/if}}
