{{#if this.siteSettings.directoryopus_enabled}}
	{{#if opusLinkAnything}}
		<div class="directoryopus-link-status">
			{{#if opusLinkClass}}
				<span class="{{opusLinkClass}}">{{d-icon opusLinkIcon}} {{opusLinkText}}</span>
			{{/if}}
		</div>
	{{/if}}
{{/if}}
