{{#if siteSettings.directoryopus_enabled}}
	<div class="directoryopus-link-status">
		<p>
			Link status goes here.

			{{#if opusCanLinkUser}}
				<span class="opus-nav-pills">{{#link-to 'linkopus'}}<img class="link-opus-button-icon" src="/plugins/discourse-directoryopus/images/opus_icon.png">{{i18n 'directoryopus.linkopus_title'}}{{/link-to}}</span>
			{{/if}}
		</p>
	</div>
{{/if}}
